body{background-color: rgb(143, 245, 245);}
.кіт{width: 100%; height: 75px;background-color: blue; text-align: center; padding-top: 15px; border: 15px;}
.пес{width: 100%; height: 75px;background-color: rgb(245, 245, 248); text-align: center; padding-top: 15px;}